#header-nav {
  background-color:	#202020 ;
  border-radius: 0;
  border: 0;
}

.navbar-brand
{
	 padding-top: 0px;
	 font-size: 30px;

}
.fonts
{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	color: white;
	font-weight: bold;
}
#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: #FFA500;
}

#collapsable-nav br
{
	color: solid black;
}

.text-center
{
	font-size: 60px;
}
.heading
 {
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;
 }
 .menus
 {
 	background-color:#FFC0CB;
 	padding: 10px;
 }
 
/* for mobile screen */
@media (min-width: 768px) and (max-width: 991px) {
  
 
} 